<div class="home-top-section">
<div class="container">
  <div class="jumbotron text-center">
    <h1>Dev Match</h1>
    <h2>Pour tous les devs qui veulent rencontrer des allumettes.</h2>
  </div>
</div>

</div>