<div class="container">
  <div class="jumbotron text-center">
    <h1>Dev Op's</h1>
    <h2>Pour tous les devs qui veulent être opérationnels. Nan, pour tous les êtres, rationnels. Ou pas. </h2>
  </div>
</div>

